[Desktop Entry]
Name=gMKVExtractGUI
Comment=Extract tracks and metadata from Matroska files
Exec=AppRun
Icon=gMKVExtractGUI
Terminal=false
Type=Application
Categories=AudioVideo;Video;